<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imagen</title>
	<link rel="icon" type="image/x-icon" href="img/limpieza.png" />
	<link rel="stylesheet" type="text/css" href="/css/img.css">


</head>
<body>



	<h2 class="heading">Agregar <span>Imagenes</span></h2>

<div id='divDestacado'>
	
<form action="/addImagen/<%=modelo.producto_id%>" method="post" enctype="multipart/form-data">
	
	<label for='imagen'>Imagen</label>
	
	<input type="file" name="img" id="img" placeholder="Imagen">
  
	<label for="destacado">Destacado</label>
	<select id='destacado' name="destacado">
		<option value='1'>Principal</option>
		<option value='0'>No principal</option>
	</select>

	<input type="submit" value="add" id="destacado">
</form>
</div>
<div class="simon">
	<a id='botonProductos' href="/productos">Volver</a>
</div>
</body>
</html>