<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/x-icon" href="img/limpieza.png" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Crear cuenta</title>
	<link rel="stylesheet" type="text/css" href="/css/nova1.css">
</head>
<body>

<div class="wrapper">

	<form class="login_form" action="/user" method="post">
     <h1 class="login">Crear cuenta</h1>
        <div class="inp">
			<input type="text" name="nombre"  class="input" placeholder="Nombre" required>
		</div>

        <div class="inp">
		<input type="text" name="apellido" class="input" placeholder="Apellido" required>	
		</div>

        <div class="inp">
			<input type="number" name="cedula" class="input" placeholder="Cedula" required>
		</div>

        <div class="inp">
			 <input type="email" name="email" class="input" placeholder="Correo" required>
		</div>

        <div class="inp">
			<input type="password" name="contrasena" class="input" placeholder="Contraseña" required>
		</div>
        <input type="submit" value='Registrar' class="submit"><br>
        <a href='/iniciarEmail'>iniciar sesion</a>

	</form>
	<script type="text/javascript">
		function volver(){
			window.location.href='/usuarios';
		}
	</script>
    <div></div>
    <div class="banner">
        <h1 class="wel-text">bienvenido <br></h1>
        <p class="para">Gracias por corregir mi proyecto <br> :) <br>login</p>
        </div>
      
</div>
</body>
</html>