<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imagen</title>
	<link rel="icon" type="image/x-icon" href="img/limpieza.png" />
	<link rel="stylesheet" type="text/css" href="/css/img.css">


</head>
<body>



<h1>Bienvenido precione continuar para ir a su perfil</h1>/

<div id='divDestacado'>
	
<form >
	   <%for(const usuario of modelo){%>
      
              <div class="icon">
        <a href="/perfil/<%= usuario.id%>">continuar</a>

    </div> 

           <%}%>
	
   
	
</form>
</div>
<div id='botones' class="carlitos">
	<a href='/'>Volver</a>
</div>
</body>
</html>