
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/update.css">
</head>
<body>
<h1 id="eliminar">Eliminar Registro</h1>

<form action="/delete/<%=modelo.producto_id%>" method="post">
  <div class='flex-principal'>
    <%- include('editorcentral') -%>

    <div id="cancelar">
  <input type="submit" value="Eliminar Producto" id="eliminarRegistro">
    <a href="/productos" id="botonProductos">Cancelar</a>
</div>
    
  </div>
</form>
</body>
<%- include('footer') -%>
</html>




