<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/x-icon" href="img/limpieza.png" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Detalles</title>
    <link rel="stylesheet" type="text/css" href="/css/detalles.css">
</head>
<body>
  <h2 class="heading">Detalles del <span>Producto</span></h2>

   <div id='contenedor'>
  <% for(let m = 0;m < imagenes.length;m++){ %>
   <img src="<%= imagenes[m].url%>">
  <% } %>

   </div>
   <a href="/javier">Volver</a>

</body>
</html>