<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G-37QEMCEWYD"></script>
    <!--Google Analytics-->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-37QEMCEWYD');
</script>
    <title>Nova Store</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
<link rel='stylesheet' href='/stylesheets/xavi.css' />
    <link rel="stylesheet" href="css/xavi.css" />
  </head>

  <body>
    <header class="header">
      <a href="#" class="logo">LIVE: 
        Kitchen your dreams</h1>
        <h3>Tienda virtual: Articulos De Cocina</h3></a>

      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href='/loginUsers' id='botonProductos'>Clientes</a>
        <a href="/login" >Admin</a>
      </nav>

      <div class="bx bx-moon" id="darkMode-icon"></div>

      <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <section class="home" id="home">
      <div class="home-content">

        <p>
          ¿Te gusta cocinar y experimentar en la cocina? Entonces, nuestros productos de calidad son perfectos para ti. Con ellos, podrás despertar tu creatividad culinaria y sorprender a tus amigos y familiares con deliciosos platos. Desde especias exóticas hasta ingredientes frescos y de alta calidad, nuestra selección de productos te permitirá crear platos únicos y llenos de sabor. Además, al utilizar ingredientes de calidad, podrás asegurarte de que tus comidas sean nutritivas y saludables. Así que, ¿qué estás esperando? ¡Déjate llevar por tu imaginación y crea platos increíbles con nuestros productos!
        </p>

        <div class="social-media">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram-alt"></i></a>
          <a href="#"><i class="bx bxl-linkedin"></i></a>
        </div>

        
      </div>

      <div class="profession-container">
        <div class="profession-box">
          <div class="profession" style="--i: 0">
            
            <h3>utensilios</h3>
          </div>
          <div class="profession" style="--i: 1">
            
            <h3>electrodomésticos</h3>
          </div>
          <div class="profession" style="--i: 2">
            
            <h3>Ollas</h3>
          </div>
          <div class="profession" style="--i: 3">
            
            <h3>todo para el hogar</h3>
          </div>

          <div class="circle"></div>
        </div>

        <div class="overlay"></div>
      </div>

 
    </section>

    <section class="about" id="about">
      <div class="about-img">
        <img src="/img/home.jpg" alt="" />
      </div>

      <div class="about-content">
        <h2 class="heading">Cocina tus <span>Sueños</span></h2>

        <p>
          "Descubre el sabor de la cocina en nuestra tienda, ¡te esperamos con los 
          mejores productos y precios irresistibles! Encuentra todo lo que necesitas 
          para preparar tus platillos favoritos y sorprender a tus seres queridos. Además, 
          contamos con un equipo de expertos dispuestos a asesorarte y brindarte las mejores 
          recomendaciones para sacar el máximo provecho de tus utensilios y electrodomésticos. 
          ¡No te pierdas la oportunidad de disfrutar de una experiencia culinaria única en nuestra 
          tienda de productos de cocina!"
        </p>
        <a href="#" class="btn">Read More</a>
      </div>
    </section>

    <section class="services" id="services">
      <h2 class="heading">Mis <span>Productos</span></h2>

      <div class="services-container">
        <div class="services-box">
          <i class='bx bx-restaurant'></i>
          <h3>utensilios</h3>
          <p>
            "Prepara tus mejores recetas con los utensilios de nuestra tienda, ¡la clave del éxito está en tus manos!"
          </p>
          <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
          <i class='bx bx-meteor'></i>
          <h3>Hollas</h3>
          <p>
            "Encuentra la olla perfecta para cada receta en nuestra tienda, ¡cocina con calidad y estilo!"
          </p>
          <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
          <i class='bx bx-package'></i>
          <h3>Electrodomesticos</h3>
          <p>
            "Enciende tu hogar con los mejores electrodomésticos, ¡haz de cada día una experiencia única!"
          </p>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <h2 class="heading">Algunos <span>Productos</span></h2>

      <div class="portfolio-container">
        <div class="portfolio-box">
      <img src="/img/prote.png" alt="" />

          <div class="portfolio-layer">
            <h4>cocina</h4>
            <p>
              Javier Suarez 30148370 equipo de programacion
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
        <div class="portfolio-box">
<img src="/img/prote.png" alt="" />
          <div class="portfolio-layer">
            <h4>cocina</h4>
            <p>
 Javier Suarez 30148370 equipo de programacion
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
        <div class="portfolio-box">
         <img src="/img/prote.png" alt="" />

          <div class="portfolio-layer">
            <h4>cocina</h4>
            <p>
              Javier Suarez 30148370 equipo de programacion
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
        <div class="portfolio-box">
          <img src="/img/prote.png" alt="" />

          <div class="portfolio-layer">
            <h4>cocina</h4>
            <p>
              Javier Suarez 30148370 equipo de programacion
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
        <div class="portfolio-box">
         <img src="/img/prote.png" alt="" />

          <div class="portfolio-layer">
            <h4>cocina</h4>
            <p>
              Javier Suarez 30148370 equipo de programacion
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
        <div class="portfolio-box">
          <img src="/img/prote.png" alt="" />

          <div class="portfolio-layer">
            <h4>cocina</h4>
            <p>
              Javier Suarez 30148370 equipo de programacion
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
      </div>
    </section>



    <section class="contact" id="contact">
      <h2 class="heading">Contact <span>Me!</span></h2>

      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Full Name" />
          <input type="email" placeholder="Email Address" />
        </div>
        <div class="input-box">
          <input type="number" placeholder="Mobile Number" />
          <input type="text" placeholder="Email Subject" />
        </div>
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Your Message"
        ></textarea>
        <input type="submit" value="Send Message" class="btn" />
      </form>
    </section>

    <footer class="footer">
      <div class="footer-text">
        <p>Derechos &copy; 2024 | S1R_Javi/03.</p>
      </div>

      <div class="footer-iconTop">
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
      </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    
    <script src="/js/xavi.js"></script>
  </body>
</html>

