<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta charset="iso-8559-1"/>
    <meta name= "description" content="pagina de enseñanza"/>
    <meta name="keywords" content="html5,javascript,diseño web"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/mercancia.css">
    <link rel="stylesheet" type="text/css" href="/css/producto2.css">
    <title>Productos</title>
  </head>
  <body>
  <!--*****************************************-->
  

 

  <h1><span class="title">****</span>Bienvenido Usuario<span class="title">****</span></h1>

  
  <div id="grid-container">
    <div id="container-img-icon">
      <span class="span">*************</span><img src="/img/prote.png"><span class="span">*************</span>
   </div>
   <!--***************************************************************-->
    
  <fieldset id="fieldset1" class="ubicar-F ubicar1">
    <legend id="legend1" class="legenddd"></legend>
    <div id="centrarDiv">
      <div id="editorcentrall">

      <form class="login_form" action="/user" method="post">

         <!------------------------------------------>
         <label for="productox">producto</label>
    
         <input type="text" name="productox"  />

        <!------------------------------------------>
    
        <label for="cantidades">cantidad</label>
    
        <input type="text"  name="cantidades" />
    
        <!--------------------------------------------->
        <input type="submit" name="enviar" value="Login" id='iniciar'>	
      </form>
       
    

    </div>
    

    </div>
  </fieldset>

  <div class="simon">

    <a id='botonProductos' href="/user">Volver</a>
</div>
 
  </body>
</html>
