<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>recuperar</title>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-G-37QEMCEWYD"></script>
<!--Google Analytics-->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-37QEMCEWYD');
</script>
<!--Schema Markup-->

	<style type="text/css">
		 body{
	background-color: rgb(144, 172, 241);
	background-size:cover;
	background-attachment: fixed;
}
form{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:30%;
	margin:3rem auto;
	border-radius:10px;
	background:rgba(0,0,0,.6);
}
input{
	margin-top:2rem;
	text-align: center;
	border-radius:10px;
}
label{
	margin-top:1rem;
	color:white;
	font-size:1.4rem;
}
h1{
	color:black;
	display:flex;
	justify-content: center;
	margin-top:2rem;
	text-shadow:10px 10px 20px white;
}
.contenedorBotonera{
	display:flex;
	justify-content: center;
	align-items: center;
}
.contenedorBotonera input{
margin:2rem;
cursor:pointer;
}
@media screen and (max-width:720px){
 
	form{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:90%;
	margin:3rem auto;
	background:rgba(0,0,0,.6);
}

}


	</style>
</head>
<body>

<h1>Recuperación de Contraseña</h1>		

<form action="/recuperarPassword" method="POST">

	<label>Correo Electronico</label>
	<input type="email" name='email' placeholder="Ingrese Email">

	<div class='contenedorBotonera'>
	  

	<input type="submit" value="Enviar">
	<input type="button" value="Cancelar" onclick="cancelar()">

	</div>
</form>

<script type="text/javascript"> 
	function cancelar(){
		window.location.href='/iniciarEmail';
	}
</script>
<script type="text/javascript">
	//aqui va alert.js 
</script>
</body>
</html>
