<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>restablecer</title>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-37QEMCEWYD"></script>
<!--Google Analytics-->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-37QEMCEWYD');
</script>
<!--Schema Markup-->

	<style type="text/css">

		body{
			background-color: rgb(144, 172, 241);
	        background-size:cover;
	        background-attachment: fixed;
		}
		form{
			display:flex;
			flex-direction:column;
			justify-content: center;
			align-items:center;
			background:rgba(0,0,0,.6);
			width:30%;
			margin:3rem auto;
			border-radius:10px;
		}
		label{
			color:white;
			font-weight:bold;
			font-size:1.5rem;
			margin-top: 2rem;
		}
		input{
			margin-top:2rem;
			border-radius:10px;
		}
		.contenedorBotonera{
			display:flex;
		}
		.contenedorBotonera input{
			margin:2rem;
			cursor:pointer;
		}
         h1{
         	color:black;
         	display:flex;
         	justify-content: center;
         	margin-top:2rem;
         text-shadow:10px 10px 20px white;
         }
         @media screen and (max-width:720px){

         form{
			display:flex;
			flex-direction:column;
			justify-content: center;
			align-items:center;
			background:rgba(0,0,0,.6);
			width:90%;
			margin:3rem auto;
			border-radius:10px;
		}

	 }
	</style>
</head>
<body>

<h1>Restablece tu contrase単a</h1>
    
<form action='/restablecer-contrasena' method="POST" id='myForm'>
	<label>Nombre de Usuario</label>
	<input type="text" name="userName">
	<label>Contrase単a Nueva</label>
	<input type="password" name="password" id='password-1'>
	<label>Confirmar Contrase単a</label>
	<input type="password" name="passwordC" id='password-2'>
     <div class="contenedorBotonera">
     	
	  <input type="submit" value="enviar">

     </div>
</form>


<script type="text/javascript">

	let myForm = document.getElementById('myForm');

  myForm.addEventListener('submit',(e)=>{
    let password = document.getElementById('password-1');
    let passwordd = document.getElementById('password-2');

  if(password.value !== passwordd.value){
  e.preventDefault();
  alert('Las contrase単as no coinciden');
  }
   
  });




</script>
</body>
</html>
