<!DOCTYPE html>
<html>
<body>
<head>
    <meta charset="utf-8">
    <meta charset="iso-8559-1"/>
    <meta name= "description" content="pagina de enseñanza"/>
    <meta name="keywords" content="html5,javascript,diseño web"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/update.css">
   <title>Update</title>
</head>
 <h1 id="crear">Actualizar Producto</h1>

<form action="/update/<%=modelo.producto_id%>" method="post">
<div class='flex-principal'>
<!------------------------------------------->
<%- include('editorcentral') -%>
<!------------------------------------------->
<div id="cancelar">
	<input type="submit" value="Actualizar" id="update">
    <a href="/productos" id="botonProductos">Productos</a>
</div>

</div>
</form>
</body>
<%- include('footer') -%>
</html>

