* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .toy{
    display:flex;
    
    text-decoration: none;
    color: rgb(230, 222, 222);
    font-weight: bold;
    margin: 0 20px;
  
  }
  
  body {
    color: white;
    background-image:url(fondo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  h1 {
    font: 50px 'Gamer';
    text-align: center;
    line-height: 100px;
  }
  .pez{
   
    background-color: rgb(29, 38, 38);
    border: 1px solid black;
    padding: 12px;
    width: 60%;
    margin: 0 auto;
    border-radius: 25px;
  }
  
  
  
  .grupo¨{
    width:100%
  }
  form .grupo{
    position:relative;
    margin:45px;
  }
  
  
  
  button{
    font-family: 'roboto';
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #2b1286, #c31313);
    background: linear-gradient(to right,#371db8, #730510);
    border:none;
    width: block;
    margin:10px auto;
    color: #fff;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  
  #grid-container {
    background: rgba(0, 0, 0, 0.7);
    margin: 25px auto;
    border: 1px solid white;
    border-radius: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  
  
  }
  
  legend {
    background: gold;
    color: black;
    cursor: pointer;
    border-radius: 20px;
    padding: 10;
  }
  
  fieldset {
    /**/
    color: gold;
    font: 24px 'Gamer';
    width: 80%;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 1s;
  
  }
  
  fieldset:hover {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: gold 5px 14px 25px;
  
  }
  
  @font-face {  
    font-family: 'Gamer';
    src: url('/font/Gamer.ttf');
  }
  
  @font-face {
    font-family: 'efectos';
    src: url('/font/RainyStars_PERSONAL_USE_ONLY.otf');
  }
  
  
  .title {
    animation: colorr 3s alternate infinite;
    animation-delay: .2s;
    font: 40px 'efectos';
  }
  
  form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  #p {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  input {
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 5vh;
  }
  
  #submit {
    width: 30%;
    margin: 5px auto;
  }
  
  #fieldset1 {
    padding-left: 5%;
    padding-top: 5vh;
  }
  
  #fieldset2 {
    padding-left: 5%;
    padding-top: 5vh;
  }
  
  #fieldset3 {
    padding-left: 5%;
    padding-top: 5vh;
  }
  
  #fieldset4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-left: 5%;
    padding-top: 5vh;
  }
  
  #fieldset5 {
    padding-left: 5%;
    padding-top: 5vh;
  }
  
  #fieldset6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .color {
    background: rgb(77, 249, 249);
  }
  
  .reducir_aumentar {
    height: 7vh;
    overflow: hidden;
    color: black;
  }
  
  .reducir_aumentar:hover {
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid grey;
    overflow: hidden;
    box-shadow: rgb(77, 249, 249) 30px 14px 25px;
    opacity: 0.7;
  }
  
  #legend6 {
    margin-left: 45px;
  }
  
  select {
    width: 35%;
  }
  
  .greenn {
    color: gold;
    animation: color 3s alternate infinite;
    animation-delay: .2s;
  }
  
  @keyframes color {
    0% {
      color: green;
    }
  
    50% {
      color: gold;
    }
  
    100% {
      color: green;
    }
  }
  
  @keyframes colorr {
    0% {
      color: gold;
    }
  
    50% {
      color: rgb(77, 249, 249);
    }
  
    100% {
      color: gold;
    }
  }
  
  #ol {
    margin-left: 15px;
    margin-bottom: 25px;
  }
  
  #centrarDiv {
    margin-left: 20px;
    margin-bottom: 30px;
  }
  
  #icon {
    display: grid;
    width: 20%;
    margin: 10px auto;
    grid-template-columns: auto auto auto;
    background: transparent;
    justify-content: center;
    align-items: center;
    align-content: center;
  
  
  }
  
  #educacion {
    margin-left: 10px;
    margin-bottom: 30px;
  }
  
  #hobbies {
    margin-left: 10px;
    margin-bottom: 40px;
  }
  
  #experiencia {
    margin-left: 10px;
    margin-bottom: 40px;
  }
  
  .span {
    font: 50px 'efectos';
    animation: colorr 3s alternate infinite;
    animation-delay: .2s;
  }
  
  #container-img-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  img {
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 25px;
    border-radius: 50%;
    width: 100%;
    height: 30vh;
  }
  .imagen{
    width:70%;
    height:30vh;
    transition:all 1s;
    margin-bottom: 20px;

    }
  
  @media screen and (max-width:480px) {
    img {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      width: 50%;
      height: 15vh;
    }
  
    #legend6 {
      margin-left: 20px;
    }
  
    .progress {
      width: 60%;
    }
  
    input {
      height: 10%
    }
  }
  
  .en{
    color: #333;
  }
  .es{
    color: #00a1ff;
  }
  .check{
    position: relative;
    width: 50px;
  
  }
  .check:before{
    content: '';
    position: relative;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
  
  }
  .check:after{
    content: '';
    position: relative;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
  }
  .check:checked:after{
    left: 25px;
    border: 2px solid #00a1ff;
  }
  .check:checked:before{
    background: #00a1ff;
  
  }
  .cat{
    font-family: 'roboto';
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #2b1286, #c31313);
    background: linear-gradient(to right,#371db8, #730510);
    border:none;
    width: line;
    margin:10px auto;
    color: #fff;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
  }