*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body{
background-image:url(fondo3.png);
background-size:cover;
background-attachment:fixed;
margin: 0;
padding: 0;
}
.table{
margin:50px auto;

background: -webkit-linear-gradient(to right, #dbf8fb, rgb(147, 152, 153));
background: linear-gradient(to right,rgb(144, 153, 152), #deeded);
border: 2px solid black;

}
.table:hover {

	box-shadow: rgb(47, 0, 255) 10px 14px 15px;
  }
table{
 color:rgb(9, 9, 9);
 width:100%;
 
}
.pepe{
	width: 10%; 
	border-radius:20%;
	margin-bottom: 12px;
	font-weight: bold;
}
h1{
	color:rgb(39, 38, 38);
	border-radius: 20%;
	border-color: brown;
	text-align:center;
	margin-top:50px;
	background-color: rgb(203, 251, 251);
}
td{
	text-align:center;
}
#botonProductos{
	background:rgb(29, 246, 221);
	color:rgb(47, 46, 46);
	text-decoration: none;
	padding:6px;
	margin:20px;
	border-radius: 20%;
	border-bottom: 10px;
	border-color: gray;
}
#add{
 height:5vh;
}
.simon{
	text-align:center;

	cursor: pointer;
}






@media(max-width:600px){
	body{
		background-image:url(fondo3.png);
		background-size:cover;
		background-attachment:fixed;
		margin: 0;
		padding: 0;
		}
		.table{
		margin:50px auto;
		width:80%;
		background:rgba(135, 231, 97, 0.7);
		width:80%;
		height:80%;
		}
		table{
		 color:white;
		 width:100%;
		 height:80%;
		}
		.pepe{
			width: 10%; 
			border-radius:20%;
			margin-bottom: 12px;
			font-weight: bold;
		}
		h1{
			color:rgb(39, 38, 38);
			border-radius: 20%;
			border-color: brown;
			text-align:center;
			margin-top:50px;
			background-color: rgb(203, 251, 251);
		}
		td{
			text-align:center;
		}
		#botonProductos{
			background:rgb(29, 246, 221);
			color:rgb(47, 46, 46);
			text-decoration: none;
			padding:6px;
			margin:20px;
			border-radius: 20%;
			border-bottom: 10px;
			border-color: gray;
		}
		#add{
		 height:5vh;
		}
		.simon{
			text-align:center;
		}
}
