*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    body{
        background-image: url(fondo3.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: black;
        height: 100vh;
        
    }
   
    h1{
        
        
        text-align:center;
        font-weight: unset;
        
    }
    form{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border:solid 3px blue ;
        margin:50px auto;
        width: 40%;
        padding: 20px;
        height:70vh;
        background-color: rgba(167, 211, 208, 0.315);
    }
    input{
        background-color: rgb(230, 251, 250);
        padding:6px;
        border-radius:10px ;
        text-align: center;
    }
    input:hover {

        box-shadow: rgb(47, 0, 255) 10px 14px 15px;
      }
    label{
        box-shadow: rgb(220, 254, 0) 200px;
        background-color: rgb(61, 79, 240);
        border-radius: 30px;
        font:20px 'dar';
        margin: 5px;
    }
    #registro{
        
        cursor: pointer;
        margin-top:20px;
    }
    #registro:hover{
        box-shadow: rgb(47, 0, 255) 10px 14px 15px;
    }
    a{
        background-color: rgb(238, 171, 2);
        padding:6px;
        border-radius:10px ;
        text-align: center;
    }
    a:hover {

        box-shadow: rgb(47, 0, 255) 10px 14px 15px;
      }